.pl {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pl-img {
  width: 30%;
  height: 40%;
}

.pl-texts {
  width: 65%;
}

.pl-title {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(0, 47, 255);
  margin-top: 1rem;
}

.pl-list {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pl-sub {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1.7rem 0;
}

@media screen and (max-width: 480px) {
  .pl-texts {
    width: 100%;
  }

  .pl-title {
    font-size: 1.5rem;
    margin: 1rem;
  }

  .pl-list {
    margin: 0.1rem;
  }
  .pl-img {
    width: 45%;
    height: 40%;
  }

  .pl-sub {
    font-size: 1.1rem;
    margin: 1rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 850px) {
  .pl-texts {
    width: 100%;
  }

  .pl-title {
    font-size: 2rem;
    margin: 1rem;
  }

  .pl-list {
    margin: 0.1rem;
  }
  .pl-img {
    width: 35%;
    height: 40%;
  }

  .pl-sub {
    font-size: 2rem;
    margin: 1rem;
  }
}
