.a {
  height: 120vh;
}

.a-right {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.a-img {
  width: 15%;
}
.a-title {
  font-size: 4rem;
  font-weight: 300;
  margin: 1rem 0;
  font-weight: bold;
  color: rgb(0, 47, 255);
}

.a-sub {
  font-weight: 500;
  font-size: 1.3rem;
  padding: 1rem 5rem 0rem 5rem;
  margin: 0rem 5rem;
}

.a-link:active,
.a-link:visited,
.a-link:link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.a-desc {
  font-size: 2.5rem;
  margin-top: 3.12rem;
  color: rgb(45, 83, 250);
}

.a-award {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.a-award-img {
  width: 8%;
}

@media screen and (max-width: 600px) {
  .a {
    height: 150vh;
    flex-direction: column;
    text-align: center;
  }

  .a-img {
    width: 45%;
    margin-top: 1rem;
  }

  .a-right {
    padding: 0 1.25rem 0 1.25rem;
  }

  .a-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .a-sub {
    font-size: 0.85rem;
    padding: 0.5rem;
    margin: 0rem;
  }

  .a-desc {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .a-award {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      '. .'
      '. .'
      '. .'
      '. .';
  }
  .a-award-img {
    width: 50%;
    margin-left: 3rem;
  }
}
